{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block head_title %}Bienvenidos | {{ block.super }}{% endblock %}

<style>
  {% block style %}
  	.jumbotron {
  		background-color: #7cadde !important;
  	}
  	.btn {
  		color: white !important;
  		background-color: blue !important;
  	}
  {% endblock %}
</style>

{% block jumbotron %}
  <div class="jumbotron">
<main role="main" class="container">

<div class='row'>
	<div class='col-sm-6'>
    <h1>Django de Alberto Martínez</h1>
    <p class="lead">Trabajo de Django para LM. El objetivo es construir una página web simple a la par que elegante en muy poco tiempo.</p>
    <a class="btn btn-lg btn-primary" href="/docs/4.3/components/navbar/" role="button">Únete &raquo;</a>
</div>
<div class='col-sm-6'>
	<iframe width="560" height="315" src="https://www.youtube.com/embed/t6DYlZzCYMg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
</div>
 </div>
</main>

{% endblock %}


{{ titulo }}<br/>

{{ request.user }}

<hr/>
<br/>

{% block content %}
<div class='row'>
	<div class='col-sm-3 col-xs-12 pull-right'>
		<p class='lead text-align-center'>
			{{ titulo }}
		</p>
		<form method="POST" action="">{% csrf_token %}
		{{ el_form|crispy }}
		<input class='btn btn-primary' type='submit' value='Recibir' />
		</form>
	</div>
<div class='col-sm-3'>
<p class='lead text-align-center'>
	Creado con Django &amp; Bootstrap
</p>
</div>
<div class='col-sm-3'>
<p class='lead text-align-center'>
	Jaime ponme un 10 jaja
</p>
</div>
<div class='col-sm-3'>
<p class='lead text-align-center'>
	Con código abierto fijate
</p>
</div>
</div>
<hr/>
{% endblock %}
